* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* === GENERAL === */
body {
  background-image: url(../media/bg.jpg);
  background-repeat: space repeat center;
  color: #000100;
  font-family: "Oswald", sans-serif; }

.botones {
  font-size: 18px;
  font-family: oswald, sans-serif;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  color: #f5f5f5;
  background-color: #444444; }

p {
  margin: 0px;
  font-size: 20px; }

ol, ul {
  padding-left: 0px; }

header {
  background-color: #000100;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 0px #000100;
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; }
  header nav div {
    display: flex;
    justify-content: flex-end; }
    header nav div .logo {
      font-size: 60px;
      font-style: italic; }
    header nav div a {
      margin: 20px; }

footer {
  background-color: #444444;
  color: #f5f5f5;
  margin-top: 60px;
  padding: 20px;
  bottom: 0px;
  font-size: 20px; }
  footer p {
    text-align: center; }
  footer .footer-content {
    padding: 15px;
    display: flex;
    justify-content: space-between; }
    footer .footer-content .footer-info li {
      list-style-type: none; }
      footer .footer-content .footer-info li:first-of-type {
        margin-bottom: 10px; }
    footer .footer-content .footer-redes {
      display: flex; }
      footer .footer-content .footer-redes li {
        list-style-type: none; }
        footer .footer-content .footer-redes li:first-of-type {
          margin-right: 20px; }
        footer .footer-content .footer-redes li i {
          cursor: pointer;
          font-size: 35px; }

/* === INDEX === */
.carrusel-index {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

.div-cuadros {
  display: flex;
  justify-content: center;
  background-color: rgba(158, 158, 158, 0.137); }
  .div-cuadros .cuadro-uno, .div-cuadros .cuadro-dos,
  .div-cuadros .cuadro-tres {
    width: 48vh;
    margin: 30px;
    padding: 25px;
    font-size: 25px; }
    .div-cuadros .cuadro-uno:hover, .div-cuadros .cuadro-dos:hover,
    .div-cuadros .cuadro-tres:hover {
      transform: scale(1.1, 1.1); }
    .div-cuadros .cuadro-uno h2, .div-cuadros .cuadro-dos h2,
    .div-cuadros .cuadro-tres h2 {
      font-weight: bold;
      font-size: 22px; }
      .div-cuadros .cuadro-uno h2 i, .div-cuadros .cuadro-dos h2 i,
      .div-cuadros .cuadro-tres h2 i {
        padding: 10px; }
    .div-cuadros .cuadro-uno p, .div-cuadros .cuadro-dos p,
    .div-cuadros .cuadro-tres p {
      margin-left: 10px; }
  .div-cuadros .cuadro-dos {
    border-left: solid 1px #000100;
    border-right: solid 1px #000100; }

/* === PRODUCTOS === */
#container-general {
  display: flex;
  flex-direction: column; }
  #container-general #ordenar-modal {
    display: flex;
    justify-content: space-around; }
    #container-general #ordenar-modal #seleccion {
      width: 20%;
      margin: 20px 0px 30px 80px; }
    #container-general #ordenar-modal .modal-carrito {
      width: 15%;
      align-self: center; }
      #container-general #ordenar-modal .modal-carrito i {
        font-size: 20px; }
    #container-general #ordenar-modal .table {
      text-align: center; }
    #container-general #ordenar-modal #gastoTotal {
      font-size: 18px; }
    #container-general #ordenar-modal .modal-footer a {
      text-decoration: none;
      color: #f5f5f5; }
  #container-general #section-productos {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; }
    #container-general #section-productos .card-product {
      width: 30%;
      margin: 20px;
      text-align: center; }
      #container-general #section-productos .card-product .img-container {
        position: relative; }
        #container-general #section-productos .card-product .img-container img {
          width: 100%;
          height: 50%;
          margin: 10px; }
      #container-general #section-productos .card-product .info-producto {
        display: flex;
        flex-direction: column; }

/* === CARRITO === */
.section-carrito {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .section-carrito .form-carrito {
    width: 60%; }
    .section-carrito .form-carrito form h2 {
      font-size: 24px; }
    .section-carrito .form-carrito form .botones {
      width: 100%; }
      .section-carrito .form-carrito form .botones:hover {
        color: #f5f5f5; }
    .section-carrito .form-carrito form .error {
      color: #d11e1e;
      display: none; }
  .section-carrito .resumen-carrito {
    width: 60%;
    margin-bottom: 50px; }
    .section-carrito .resumen-carrito table {
      background-color: rgba(158, 158, 158, 0.137);
      color: #000100;
      text-align: center;
      border-collapse: collapse; }
      .section-carrito .resumen-carrito table tr td {
        font-size: 20px;
        padding: 15px; }

/* === CONTACTO === */
.section-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .section-contacto .div-contacto {
    margin-top: 60px;
    display: grid; }
    .section-contacto .div-contacto div {
      background-color: rgba(158, 158, 158, 0.137);
      padding: 40px;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px; }
      .section-contacto .div-contacto div p {
        padding: 10px; }
        .section-contacto .div-contacto div p i {
          margin-right: 25px;
          cursor: pointer;
          font-size: 25px;
          align-items: center; }
  .section-contacto .form-contacto section {
    background-color: #d7c1d7d5;
    padding: 40px;
    border-radius: 10px;
    width: 90vh; }
    .section-contacto .form-contacto section form {
      display: flex;
      flex-direction: column; }
      .section-contacto .form-contacto section form h2 {
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center; }
      .section-contacto .form-contacto section form label,
      .section-contacto .form-contacto section form div {
        margin: 10px 0px 10px 0px;
        font-size: 20px; }
      .section-contacto .form-contacto section form form input,
      .section-contacto .form-contacto section form form textarea {
        border: none;
        border-radius: 5px;
        border-bottom: 1px solid #000100;
        resize: none; }
        .section-contacto .form-contacto section form form input:focus,
        .section-contacto .form-contacto section form form textarea:focus {
          outline: none; }
      .section-contacto .form-contacto section form .botones {
        width: 100%; }
        .section-contacto .form-contacto section form .botones:hover {
          color: #d7c1d7d5; }

/* === INFO === */
.info h2 {
  padding: 20px;
  letter-spacing: 5px;
  word-spacing: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; }

.info .accordion {
  max-width: 90%;
  display: block;
  margin: 50px auto; }
  .info .accordion .accordion-card {
    margin-bottom: 20px;
    width: 100%; }
    .info .accordion .accordion-card .accordion-header h3 {
      cursor: pointer;
      color: #000100;
      position: relative;
      background-color: #d7c1d7d5;
      margin: 0;
      padding: 15px 20px;
      font-size: 25px; }
    .info .accordion .accordion-card .accordion-header {
      position: relative; }
      .info .accordion .accordion-card .accordion-header span {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 12px;
        height: 25px;
        width: 25px;
        color: #444444;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        font-size: 15px; }
  .info .accordion .accordion-body {
    padding: 20px;
    display: none; }
    .info .accordion .accordion-body p {
      font-size: 20px;
      line-height: 24px;
      color: #000100;
      margin: 0px; }

/* ----------- SMARTPHONE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*--- GENERAL ---*/
  header {
    font-size: 26px; }
    header nav div {
      align-items: flex-end; }
      header nav div a {
        margin: 5px; }
      header nav div .logo {
        font-size: 40px; }
  footer {
    font-size: 18px; }
    footer p {
      font-size: 18px; }
    footer .footer-content {
      flex-direction: column;
      align-items: center; }
      footer .footer-content .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px; }
      footer .footer-content .footer-redes li i {
        font-size: 24px; }
  /*--- INDEX ---*/
  .img-mobile {
    width: 20em; }
  .div-cuadros .cuadro-uno, .div-cuadros .cuadro-dos,
  .div-cuadros .cuadro-dos,
  .div-cuadros .cuadro-tres {
    border-left: none;
    border-right: none;
    border-top: solid 1px #444444;
    border-bottom: solid 1px #444444;
    margin: 15px; }
    .div-cuadros .cuadro-uno h2, .div-cuadros .cuadro-dos h2, .div-cuadros .cuadro-uno p, .div-cuadros .cuadro-dos p,
    .div-cuadros .cuadro-dos h2,
    .div-cuadros .cuadro-dos p,
    .div-cuadros .cuadro-tres h2,
    .div-cuadros .cuadro-tres p {
      font-size: 18px; }
  /*--- PRODUCTOS ---*/
  .menu-nav {
    background-color: rgba(158, 158, 158, 0.137);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 0px; }
    .menu-nav ol {
      margin-bottom: 0px;
      justify-content: center; }
  .container-productos {
    display: flex;
    flex-direction: column; }
    .container-productos .categorias {
      margin: 0;
      padding: 0; }
      .container-productos .categorias h2 {
        text-align: center;
        margin-bottom: 0; }
      .container-productos .categorias ul {
        display: flex;
        justify-content: center; }
        .container-productos .categorias ul li {
          padding: 10px; }
    .container-productos .section-productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 0px; }
      .container-productos .section-productos .card-product {
        width: 100%; }
        .container-productos .section-productos .card-product .img-container {
          width: 22em; }
  /*--- CARRITO ---*/
  .section-carrito {
    display: flex;
    flex-direction: column-reverse;
    margin-right: auto;
    margin-left: auto;
    width: 100%; }
    .section-carrito .form-carrito {
      padding-top: 60px;
      margin-right: auto;
      margin-left: auto;
      width: 80%; }
    .section-carrito .resumen-carrito {
      margin-right: auto;
      margin-left: auto;
      width: 75%; }
      .section-carrito .resumen-carrito table {
        text-align: center; }
  /*--- CONTACTO ---*/
  .section-contacto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column; }
    .section-contacto .div-contacto {
      margin-top: 0px;
      justify-content: center; }
      .section-contacto .div-contacto div {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 30vh; }
    .section-contacto .form-contacto {
      margin-top: 50px; }
      .section-contacto .form-contacto section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px; }
  /*--- INFO ---*/
  .info h2 {
    font-size: 28px;
    padding: 18px; }
  .info .info-pregunta {
    font-size: 22px; }
  .info p {
    font-size: 21px; } }

/* ----------- TABLET ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*--- GENERAL ---*/
  header nav div {
    align-items: flex-end; }
    header nav div a {
      margin: 5px; }
  p,
  li {
    font-size: 25px; }
  footer .footer-content {
    justify-content: space-around;
    margin-bottom: 25px; }
  /*----INDEX----*/
  .section-cuadros {
    max-width: 600px; }
    .section-cuadros .div-cuadros .cuadro-uno, .section-cuadros .div-cuadros .cuadro-dos,
    .section-cuadros .div-cuadros .cuadro-tres {
      margin: 10px; }
    .section-cuadros .div-cuadros .cuadro-dos {
      margin: 10px;
      border-left: none;
      border-right: none;
      border-top: solid 1px #444444;
      border-bottom: solid 1px #444444; }
  /*--- PRODUCTOS ---*/
  .menu-nav {
    background-color: rgba(158, 158, 158, 0.137);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 0px; }
    .menu-nav ol {
      margin-bottom: 0px;
      justify-content: center; }
  .container-productos {
    display: flex;
    flex-direction: column; }
    .container-productos .categorias {
      text-align: center; }
      .container-productos .categorias ul {
        display: flex;
        justify-content: center; }
        .container-productos .categorias ul li a {
          font-size: 25px;
          margin: 10px; }
    .container-productos .section-productos {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .container-productos .section-productos .card-product {
        width: 85%;
        justify-self: center;
        text-align: center; }
        .container-productos .section-productos .card-product .img-container img {
          width: 20em; }
        .container-productos .section-productos .card-product strong {
          font-size: 20px; }
  /*--- CARRITO ---*/
  .section-carrito {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse; }
    .section-carrito .form-carrito {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .section-carrito .form-carrito form h2 {
        font-size: 28px; }
      .section-carrito .form-carrito form input,
      .section-carrito .form-carrito form select,
      .section-carrito .form-carrito form button {
        font-size: 23px; }
    .section-carrito .resumen-carrito {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px; }
      .section-carrito .resumen-carrito table {
        text-align: center; }
        .section-carrito .resumen-carrito table tr td {
          font-size: 24px; }
  /*--- CONTACTO ---*/
  .section-contacto {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column; }
    .section-contacto .div-contacto {
      margin-top: 0px;
      justify-content: center; }
      .section-contacto .div-contacto div {
        margin-top: 40px;
        height: 30vh; }
    .section-contacto .form-contacto {
      margin-top: 80px; }
      .section-contacto .form-contacto section {
        width: 100%;
        margin-left: auto;
        margin-right: auto; }
        .section-contacto .form-contacto section form h2 {
          font-size: 30px; }
        .section-contacto .form-contacto section form label,
        .section-contacto .form-contacto section form div,
        .section-contacto .form-contacto section form input {
          font-size: 24px; }
  /*--- INFO ---*/
  .info h2 {
    font-size: 32px; }
  .info .info-pregunta {
    font-size: 27px; }
  .info p {
    font-size: 26px; } }
