* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* === GENERAL === */
body {
  background-image: url(../media/bg.jpg);
  background-repeat: space repeat center;
  color: #000100;
  font-family: "Oswald", sans-serif; }

.botones {
  font-size: 1rem;
  font-family: oswald, sans-serif;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  color: #f5f5f5;
  background-color: #444444; }

p {
  margin: 0px; }

ol,
ul {
  padding-left: 0px; }

header {
  background-color: #000100;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 0px #000100;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; }
  header nav div {
    display: flex;
    justify-content: flex-end; }
    header nav div .logo {
      font-size: 2rem;
      font-style: italic; }
    header nav div a {
      margin: 20px; }

@media only screen and (min-device-width: 1025px) and (max-device-width: 2600px) {
  nav {
    height: 100px; } }

footer {
  background-color: #444444;
  color: #f5f5f5;
  margin-top: 60px;
  padding: 20px;
  bottom: 0px;
  font-size: 1.2rem; }
  footer p {
    text-align: center; }
  footer .footer-content {
    padding: 15px;
    display: flex;
    justify-content: space-between; }
    footer .footer-content .footer-info li {
      list-style-type: none; }
      footer .footer-content .footer-info li:first-of-type {
        margin-bottom: 10px; }
    footer .footer-content .footer-redes {
      display: flex; }
      footer .footer-content .footer-redes li {
        list-style-type: none; }
        footer .footer-content .footer-redes li:first-of-type {
          margin-right: 20px; }
        footer .footer-content .footer-redes li i {
          cursor: pointer;
          font-size: 1.8rem; }

/* === INDEX === */
.carrusel-index {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  .carrusel-index .carousel-item img {
    width: 20em; }

.div-cuadros {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto; }
  .div-cuadros .boxes {
    width: 48vh;
    margin: 10px;
    padding: 25px;
    background-color: rgba(158, 158, 158, 0.137); }
    .div-cuadros .boxes:hover {
      transform: scale(1.1, 1.1); }
    .div-cuadros .boxes h2 {
      font-weight: bold;
      font-size: 1.2rem; }
      .div-cuadros .boxes h2 i {
        padding: 10px; }
    .div-cuadros .boxes p {
      margin-left: 10px;
      font-size: 1rem; }

/* === PRODUCTOS === */
#container-general {
  display: flex;
  flex-direction: column; }
  #container-general #ordenar-modal {
    display: flex;
    justify-content: space-around; }
    #container-general #ordenar-modal #seleccion {
      width: 20%;
      margin: 20px 0px 30px 80px; }
    #container-general #ordenar-modal .modal-carrito {
      width: 15%;
      align-self: center; }
      #container-general #ordenar-modal .modal-carrito i {
        font-size: 1.2rem; }
    #container-general #ordenar-modal .table {
      text-align: center; }
    #container-general #ordenar-modal #gastoTotal {
      font-size: 1.2rem; }
    #container-general #ordenar-modal .modal-footer a {
      text-decoration: none;
      color: #f5f5f5; }
  #container-general #section-productos {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; }
    #container-general #section-productos .card-product {
      margin: 20px 0px;
      text-align: center; }
      #container-general #section-productos .card-product .img-container {
        position: relative; }
        #container-general #section-productos .card-product .img-container img {
          width: 20em;
          height: 50%;
          margin: 10px; }
      #container-general #section-productos .card-product .info-producto {
        display: flex;
        flex-direction: column; }

/* === CARRITO === */
.section-carrito {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .section-carrito .form-carrito {
    width: 60%; }
    .section-carrito .form-carrito form h2 {
      font-size: 1.2rem; }
    .section-carrito .form-carrito form .botones {
      width: 100%; }
      .section-carrito .form-carrito form .botones:hover {
        color: #f5f5f5; }
    .section-carrito .form-carrito form .error {
      color: #d11e1e;
      display: none; }
    .section-carrito .form-carrito form .pago-tarjeta {
      display: none; }
  .section-carrito .resumen-carrito {
    width: 60%;
    margin-bottom: 50px; }
    .section-carrito .resumen-carrito table {
      background-color: rgba(158, 158, 158, 0.137);
      color: #000100;
      text-align: center;
      border-collapse: collapse; }
      .section-carrito .resumen-carrito table tr td {
        font-size: 1.2rem;
        padding: 15px; }

/* === CONTACTO === */
.section-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .section-contacto .div-contacto {
    display: grid; }
    .section-contacto .div-contacto div {
      background-color: rgba(158, 158, 158, 0.137);
      padding: 40px;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      margin: 20px; }
      .section-contacto .div-contacto div p {
        padding: 10px; }
        .section-contacto .div-contacto div p i {
          margin-right: 25px;
          cursor: pointer;
          font-size: 1.5rem;
          align-items: center; }
  .section-contacto .form-contacto section {
    background-color: #d7c1d7d5;
    padding: 40px;
    border-radius: 10px;
    width: 90vh; }
    .section-contacto .form-contacto section form {
      display: flex;
      flex-direction: column; }
      .section-contacto .form-contacto section form .error {
        display: none;
        color: #d11e1e;
        font-size: 1rem; }
      .section-contacto .form-contacto section form h2 {
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem; }
      .section-contacto .form-contacto section form label,
      .section-contacto .form-contacto section form div {
        margin: 5px 0px 5px 0px;
        font-size: 1.1rem; }
      .section-contacto .form-contacto section form form input,
      .section-contacto .form-contacto section form form textarea {
        border: none;
        border-radius: 5px;
        border-bottom: 1px solid #000100;
        resize: none; }
        .section-contacto .form-contacto section form form input:focus,
        .section-contacto .form-contacto section form form textarea:focus {
          outline: none; }
      .section-contacto .form-contacto section form .botones {
        width: 100%; }
        .section-contacto .form-contacto section form .botones:hover {
          color: #d7c1d7d5; }

/* === INFO === */
.info h2 {
  padding: 20px;
  letter-spacing: 5px;
  word-spacing: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; }

.info .accordion {
  max-width: 90%;
  display: block;
  margin: 50px auto; }
  .info .accordion .accordion-card {
    margin-bottom: 20px;
    width: 100%; }
    .info .accordion .accordion-card .accordion-header h3 {
      cursor: pointer;
      color: #000100;
      position: relative;
      background-color: #d7c1d7d5;
      margin: 0;
      padding: 15px 20px;
      font-size: 1.2rem; }
    .info .accordion .accordion-card .accordion-header {
      position: relative; }
      .info .accordion .accordion-card .accordion-header span {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 12px;
        height: 25px;
        width: 25px;
        color: #444444;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        font-size: .8rem; }
  .info .accordion .accordion-body {
    padding: 20px;
    display: none; }
    .info .accordion .accordion-body p {
      font-size: 1.2rem;
      line-height: 24px;
      color: #000100;
      margin: 0px; }

/* ----------- SMARTPHONE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*--- GENERAL ---*/
  header nav div {
    align-items: flex-end; }
    header nav div a {
      margin: 5px; }
  footer {
    font-size: 1rem; }
    footer .footer-content {
      flex-direction: column;
      align-items: center; }
      footer .footer-content .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px; }
  /*--- INDEX ---*/
  .div-cuadros .boxes {
    width: 55vh; }
    .div-cuadros .boxes h2 {
      font-size: 1rem; }
  /*--- PRODUCTOS ---*/
  #container-general #ordenar-modal {
    flex-direction: column;
    justify-content: center; }
    #container-general #ordenar-modal #seleccion {
      width: 40%;
      height: 40px;
      margin: auto; }
    #container-general #ordenar-modal .modal-carrito {
      width: 45%;
      margin-top: 30px; }
  #container-general #section-productos {
    display: flex;
    flex-direction: column; }
    #container-general #section-productos .card-product {
      width: 90%;
      margin: auto; }
      #container-general #section-productos .card-product .img-container img {
        margin: 20px 0px;
        width: 15em; }
      #container-general #section-productos .card-product .info-producto .botones {
        width: 60%;
        font-size: .9rem;
        padding: 2px; }
  /*--- CARRITO ---*/
  .section-carrito {
    display: flex;
    flex-direction: column-reverse;
    margin-right: auto;
    margin-left: auto;
    width: 100%; }
    .section-carrito .form-carrito {
      margin-right: auto;
      margin-left: auto;
      width: 80%; }
    .section-carrito .resumen-carrito {
      margin-right: auto;
      margin-left: auto;
      width: 75%; }
      .section-carrito .resumen-carrito table {
        text-align: center; }
  /*--- CONTACTO ---*/
  .section-contacto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column; }
    .section-contacto .div-contacto {
      margin-top: 0px;
      justify-content: center; }
      .section-contacto .div-contacto div {
        margin-top: 20px;
        margin-bottom: 20px; }
    .section-contacto .form-contacto {
      margin-top: 50px; }
      .section-contacto .form-contacto section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px; }
  /*--- INFO ---*/
  .info h2 {
    padding: 20px; }
  .info .accordion {
    margin: 20px auto; }
    .info .accordion .accordion-body p {
      font-size: 1rem; }
    .info .accordion .accordion-card .accordion-header span {
      right: 5px; }
    .info .accordion .accordion-card .accordion-header h3 {
      font-size: 1rem;
      padding: 15px 20px 15px 10px; } }

/* ----------- TABLET ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*--- GENERAL ---*/
  header nav div {
    align-items: flex-end; }
    header nav div a {
      margin: 5px; }
  footer .footer-content {
    justify-content: space-around;
    margin-bottom: 25px; }
  /*----INDEX----*/
  .div-cuadros .boxes h2 {
    font-size: 1rem; }
  .div-cuadros .boxes p {
    font-size: .9rem; }
  /*--- PRODUCTOS ---*/
  #container-general #ordenar-modal #seleccion {
    margin: 0px; }
  #container-general #section-productos {
    width: 100%; }
  #container-general .botones {
    width: 60%;
    font-size: .9rem;
    padding: 5px; }
  /*--- CARRITO ---*/
  .section-carrito {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse; }
    .section-carrito .form-carrito {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .section-carrito .form-carrito .resumen-carrito {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px; }
        .section-carrito .form-carrito .resumen-carrito table {
          text-align: center; }
  /*--- CONTACTO ---*/
  .section-contacto {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column; }
    .section-contacto .div-contacto {
      width: 60%;
      margin: auto; }
      .section-contacto .div-contacto div {
        margin-top: 40px;
        font-size: 1.1rem; }
    .section-contacto .form-contacto {
      margin-top: 80px; }
      .section-contacto .form-contacto section {
        width: 100%;
        margin-left: auto;
        margin-right: auto; } }
